.checkBoxContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

.container {
    background-color: #f5f5f5;
    border: 2px solid #e2e2e2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100%;
    padding: 3rem;
    max-width: 1000px;
}

.divider {
    border: 1px solid #dfdfdf;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 600px;
    width: 100%;
}

.radio {
    display: flex;
    flex-direction: row;
}

.titleInput {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    height: 30px;
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
    }
}
